<html>
    <body>
        <p>Le 10 f&eacute;vrier 2021</p>
        <p>CV21 - XSLT V1.0</p>
        <h1>UN TITRE</h1>
        Demande de Stage
        <h2>M. Coquerel Ulysse</h2>
        <p>
            Tel: 0695847585
            <br>
            Mel: coq@mail.com
        </p>
        <h2>Exp&eacute;riences prof&eacute;ssionnelles</h2>
        <ol type="1">
            <li>Bodybuilder (du 1998-03-13 au 2018-05-11)</li>
        </ol>
        <h2>Dipl&ocirc;mes</h2>
        <table>
            <tr>
                <td>2001-01-01</td><td>Colmar95</td><td>(V)</td><td>Atelier</td>
            </tr>
        </table>
        <h2>Certifications</h2>
        <table>
            <tr>
                <td>2001-01-01 - 2001-01-01</td><td>Certifi&eacute; par la street</td>
            </tr>
        </table>
        <h2>Langues</h2>
        <ul>
            <li>fr :  (900)</li>
        </ul>
        <h2>Divers</h2>
        <ul>
            <li>Bg : d'apr&egrave;s la m&egrave;re</li>
        </ul>
    </body>
</html>
